In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
calend = pd.read_excel('calendar.xlsx')

In [4]:
data_date = pd.read_excel('date_main.xlsx')

In [5]:
date_series = data_date['date'].squeeze()
date_series_str = date_series.dt.strftime('%m/%d/%Y')

In [6]:
date_series_str

0      02/21/2022
1      02/22/2022
2      02/23/2022
3      02/24/2022
4      02/25/2022
          ...
495    07/01/2023
496    07/02/2023
497    07/03/2023
498    07/04/2023
499    07/05/2023
Name: date, Length: 500, dtype: object

In [7]:
def get_info(XX, df2, b):
    listo = list(date_series_str)
    for x in listo:
        df = df2[df2['date'] == XX] 
        a = df[b]
        if df.size == 0:
            return float('nan')
        else:
            return a.squeeze()

In [8]:
get_info('02/26/2022', calend, 'school')

0

In [9]:
calend_data = pd.DataFrame(columns = ['date', 'school', 'work'])
sc_val = 0
wk_val = 0

i = 0
for date in date_series_str:
    sc_val = get_info(date, calend, 'school')
    wk_val = get_info(date, calend, 'work')
    

    calend_data = calend_data.append({'date' : date, 'school' : sc_val, 'work' : wk_val}, 
            ignore_index = True)
    i = i+1

In [10]:
calend_data.head(20)

          date school work
0   02/21/2022      1    1
1   02/22/2022      1    1
2   02/23/2022      1    1
3   02/24/2022      1    1
4   02/25/2022      1    1
5   02/26/2022      0    0
6   02/27/2022      0    0
7   02/28/2022      1    1
8   03/01/2022      1    1
9   03/02/2022      1    1
10  03/03/2022      1    1
11  03/04/2022      1    1
12  03/05/2022      0    0
13  03/06/2022      0    0
14  03/07/2022      1    1
15  03/08/2022      1    1
16  03/09/2022      1    1
17  03/10/2022      1    1
18  03/11/2022      1    1
19  03/12/2022      0    0

In [11]:
calend_data.to_csv('calend_new.csv')